.home {
    width: 100%;
    height: 100%;
    background: white;
}
.menu-nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    justify-items: center;
    margin-left: 40px;
}

.title {
    font-size: 36px;
    color: green;
    margin-left: 20px;
}

.title:hover,
.title i:hover {
    cursor: pointer;
}

.link-pages {
    display: flex;
    list-style: none;
    /* margin-left: 40%; */
}

.link-pages a {
    display: block;
    padding: 15px 15px;
    margin: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.link-pages button {
    margin-right: 20px;
    outline: none;
    border: none;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner span {
    position: absolute;
    top: 30%;
    right: 30%;
    font-size: 64px;
    font-weight: 600;
    color: whitesmoke;
    font-family: 'Redressed';
}

.banner p {
    position: absolute;
    top: 40%;
    right: 25%;
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
    font-family: 'Redressed';
}

.banner button {
    position: absolute;
    top: 60%;
    right: 40%;
    width: 100px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #54cd38;
}

.banner button:hover {
    background-color: #4ac42f;
    cursor: pointer;
    /* transform: scale(0.9); */
}

li a,
.dropbtn {
    display: inline-block;
    color: #551a8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #551a8b;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.pet-list {
    background: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: green;
    font-family: 'Redressed';
    height: 10%;
}

.title-list h3 {
    display: flex;
    align-items: center;
    justify-items: center;
}

.pet-list i {
    font-size: 28px;
}

.cat-list {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
    margin: 0 32px;
}

.cat-item {
    border-radius: 10px;
    height: 220px;
    margin-bottom: 16px;
}

.cat-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.cat-item span{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Redressed';
}



/* .cat-list {
    display: flex;
    flex-flow: wrap;
    height: 100%;
    background-color: white;
}

.cat-list img {
    width: 300px;
    height: 300px;
    padding: 18px;
    margin: 20px 21px;
}

.cat-list span {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.cat-list span:hover {
    color: green;
    cursor: pointer;
    font-weight: bold;
} */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 32px;
    margin-top: 50px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin: 0 4px;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.nav-mobile{
    width: 28px;
    height: 28px;
    color: #551a8b;
    display: none;
}

.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-moblie-item {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: white;
    z-index: 2;
    transform: translateX(100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    opacity: 0;
}

.nav-mobile-list{
    margin-top: 48px;
    
}

.item-mobile{
    color: #333;
    display: block;
    padding: 12px 0;
    margin-left: 12px;
    font-size: 1.4rem;
}

.item-mobile i{
    color: green;
    margin-right: 20px;
    margin-top: 6px;
}

.nav-mobile-list a{
    text-decoration: none;
    list-style: none;
}

.nav-close {
    width: 20px;
    height: 20px;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-close:hover {
    cursor: pointer;
}

.nav-input{
    display: none;
}

.nav-input:checked ~ .nav-moblie-item{
    transform: translateX(0%);
    opacity: 1;
}

.nav-input:checked ~ .nav-overlay {
    display: block;
}


/* mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .title{
        font-size: 24px;
        font-weight: bold;
        margin-left: 0px;
    }
    .nav-mobile{
        width: 28px;
        height: 28px;
        color: #551a8b;
        display: block;
        padding: 20px 20px;
    }
    .link-pages{
        display: none;
    }
}
/* Table: width >= 740 and width <= 1024 */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .title{
        font-size: 24px;
        font-weight: bold;
        margin-left: 0px;
    }
    .nav-mobile{
        width: 28px;
        height: 28px;
        color: #551a8b;
        display: block;
        padding: 20px 20px;
    }
    .link-pages{
        display: none;
    }
}
/* pc: width >= 1024 */
@media only screen and (min-width: 64em) {

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}